<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telehealth System</title>
    <script src="https://sdk.twilio.com/js/video/releases/2.15.2/twilio-video.min.js"></script>
</head>
<body>
    <h2>Please enter your email</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Join Room</button>
    </form>
</body>
</html>